# Игнорируем всё
*

# Разрешаем папки (чтобы Git мог дойти до файлов)
!**/

# Исключаем служебную папку (добавляем сюда)
.metadata/

# Разрешаем только .java и .txt
!**/*.java
!**/*.txt

# Служебные файлы
!README.md
!.gitignore
